@font-face {
    font-family: 'Gilmer Bold';
    src: url('./assets/Fonts/Gilmer/ttf/gilmer-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilmer Light';
    src: url('./assets/Fonts/Gilmer/ttf/gilmer-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilmer Regular';
    src: url('./assets/Fonts/Gilmer/ttf/gilmer-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }